lazy-lock.json
fish_variables
*.log
*.state
*.db
state.*
watch_laters/*
lyrics/*
playlist/*
bin/

# Backup and temp files
*.bak
*.bak.*
*_backup.*
*.orig
*.pacnew
*.pacsave
*~
*.uuid

# Noctalia plugins (reinstallable from plugins.json)
noctalia/plugins/

# Secrets
# secrets.yaml
*.agekey
keys.txt

# Local files that I wanna keep
/.hermes
.archived
*.local.*
*.private.*
