// ===== Autostart =====
spawn-at-startup "qs" "-c" "noctalia-shell" "--no-duplicate"
spawn-at-startup "/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1"
spawn-sh-at-startup "wl-paste --watch cliphist store"
// spawn-at-startup "vicinae" "server"

window-rule {
  match at-startup=true
  open-focused false
}

spawn-sh-at-startup "sleep 3 && kitty"
spawn-sh-at-startup "sleep 5 && brave"
// spawn-sh-at-startup "sleep 6 && obsidian"
// spawn-sh-at-startup "sleep 7 && anki"
// spawn-sh-at-startup "sleep 11 && vesktop"

