# vim: ft=toml

[user]
email = atalariq.dev@outlook.com
name = Atalariq Barra Hadinugraha
username = atalariq
signingkey = 82653D343C6C81D2

[core]
editor = nvim
excludesfile = /home/atalariq/.gitignore_global

[init]
defaultBranch = main

[http]
postBuffer = 524288000

[commit]
gpgsign = true

[tag]
gpgSign = true
