#!/bin/sh

# Lunch dbus-launch, this is important for some app
if command -v dbus-launch >/dev/null 2>&1 && test -z "$DBUS_SESSION_BUS_ADDRESS"; then
    eval "$(dbus-launch --sh-syntax --exit-with-session)"
fi

# === Autostart Apps
# pgrep -x musikcubed >/dev/null || /usr/bin/musikcubed >/dev/null 2>&1 &

# Pipewire
pgrep -x pipewire >/dev/null || /usr/bin/pipewire >/dev/null 2>&1 &
pgrep -x pipewire-pulse >/dev/null || /usr/bin/pipewire-pulse >/dev/null 2>&1 &
pgrep -x wireplumber >/dev/null || /usr/bin/wireplumber >/dev/null 2>&1 &
