# vim: ft=toml

[user]
email = atalariq.dev@outlook.com
name = Atalariq Barra Hadinugraha
username = atalariq
signingkey = /home/atalariq/.ssh/atalariq.dev_signing_ed25519
[core]
editor = nvim
excludesfile = /home/atalariq/.gitignore_global
[init]
defaultBranch = main
[http]
postBuffer = 524288000
[commit]
gpgsign = true
[tag]
gpgSign = true
[credential]
helper = /usr/lib/git-core/git-credential-libsecret
[credential "https://github.com"]
helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
helper = !/usr/bin/gh auth git-credential
[pull]
rebase = false
[fetch]
prune = true
[rerere]
enabled = true
[rebase]
autostash = true
[push]
autoSetupRemote = true
[diff]
algorithm = histogram
[merge]
conflictstyle = zdiff3
[gpg]
format = ssh
