layer-rule {
  match namespace="^noctalia-wallpaper*"
  place-within-backdrop true
}

layout {
  background-color "transparent"
}

// Optionally, disable the workspace shadows in the overview.
overview {
  zoom 0.5
  workspace-shadow {
    off
  }
}

binds {
  // Core Noctalia binds
  Mod+C hotkey-overlay-title="Control Center" { spawn "controller" "noctalia" "control-center"; }
  Mod+D hotkey-overlay-title="Toggle Dock" { spawn "controller" "noctalia" "dock"; }
  Mod+N hotkey-overlay-title="Notification Center" { spawn "controller" "noctalia" "notifications"; }
  Mod+Y hotkey-overlay-title="Browse Wallpapers" { spawn "controller" "noctalia" "wallpaper"; }
  Mod+Comma hotkey-overlay-title="Settings" { spawn "controller" "noctalia" "settings"; }
  Mod+Escape hotkey-overlay-title="Session Menu" { spawn "controller" "noctalia" "session"; }

  // Audio controls
  XF86AudioRaiseVolume allow-when-locked=true { spawn "controller" "volume" "up"; }
  XF86AudioLowerVolume allow-when-locked=true { spawn "controller" "volume" "down"; }
  XF86AudioMute allow-when-locked=true { spawn "controller" "volume" "mute"; }

  // Brightness controls
  XF86MonBrightnessUp allow-when-locked=true { spawn "controller" "brightness" "up"; }
  XF86MonBrightnessDown allow-when-locked=true { spawn "controller" "brightness" "down"; }

  XF86AudioPrev allow-when-locked=true { spawn "controller" "player" "prev"; }
  XF86AudioPlay allow-when-locked=true { spawn "controller" "player" "play"; }
  XF86AudioNext allow-when-locked=true { spawn "controller" "player" "next"; }

  // Utility shortcuts
  Mod+Space hotkey-overlay-title="Launcher" { spawn "controller" "noctalia" "launcher"; }
  Mod+V hotkey-overlay-title="Clipboard Manager" { spawn "controller" "noctalia" "clipboard"; }
  Mod+B hotkey-overlay-title="Emoji Picker" { spawn "controller" "noctalia" "emoji"; }
  // Mod+L { spawn "controller" "noctalia" "lock"; }
}
